body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

.bgImage {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    margin-bottom: 1.25rem;
    flex-shrink: 0;
}

.custom-container {
    border-radius: 56px;
    padding: 0.3rem;
    background: linear-gradient(180deg, var(#2196f3) 10%, rgba(33, 150, 243, 0) 30%);
}

.inner-container {
    width: 100%;
    width: 550px;
    background-color: rgba(27, 27, 27, 0.8);
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 53px;
    height: 550px;
    overflow-y: scroll;
}

.inner-container::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

.inner-container::-webkit-scrollbar-track {
    background: transparent;
}

.inner-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
    border: 1px solid transparent; 
}


.header {
    text-align: center;
    margin-bottom: 1.25rem;
}

.welcome-text {
    color: #cccccc;
    /* color: #a7a7a7;  */
    font-size: 1.875rem; 
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.subtitle {
    color: #757575;
    font-weight: 500;
    font-size: 1.4rem; 
}

.contact-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-info {
    color: #a0a0a0;
    font-size: 1rem;
    margin: 0;
}

.contact-info a {
    color: #545bc5;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.section-title {
    color: #a7a7a7; 
    font-size: 1.6rem;
    border-bottom: 1px solid #555;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    background: #444;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

p {
    color: #757575;
}

strong {
    color: #cccccc;
}

@media (max-width: 630px) {
    .inner-container {
        width: 90%;
        background-color: rgba(27, 27, 27, 0.8);
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        border-radius: 53px;
        height: 550px;
    }
    
    .custom-container {
        display: flex;
        justify-content: center;
    }
}